* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo{
  height: 100px;
}
body {
  display: flex;
  justify-content: center;
}

.from-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px; 
  align-content: center;
}

/* Center the form */
form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
  align-items: center
}

/* Make the form responsive */
@media (max-width: 600px) {
  .from-container {
    padding: 0 16px;
  }

  form {
    max-width: 100%;
    gap: 6px;
    /*padding: 0 10px;*/
  }
}

.input-container {
  width: 100%;
  margin-bottom: 0px;
}


/* Apply MaterialUI styles to inputs */
.form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  /*padding: 10px;*/
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
}



/* Apply MaterialUI styles to button */
.form-btn {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #1E3932;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 24px;
}

.form-btn:disabled {
  background-color: #bdbdbd;
  cursor: default;
}

.form-btn:hover:not(:disabled) {
  background-color: #D29D49;
}

.titles{
  font-family: 'Poppins', sans-serif;
  color: #1E3932;
  font-weight: bold;
}