* {
  box-sizing: border-box;
}

body {
  background-color:#EAE8E2;
  margin:0px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-radius: 24px;
}

table {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

tr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 8px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

td {
  display: flex;
  justify-content: center;
  width: 200px;
}

canvas {
  width: 100%;
  height: auto;
}

.leads-table {
  width: 100%;
  height: 40px;
}

.chart-container {
  margin-left: 10px;
  width: 90%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-container2 {
  margin-left: 10px;
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  height: 100px;
  display: flex;
  background: #fff;
  justify-content: flex-start;
  align-items: center;
}

.logo{
  width: 350px;
  height: 75px;
  margin-left: 10px;
}
.searchbox{
  width: 600px;
  height: 30px;
  border-radius: 25px;
  border-style: groove;
  border-color: #fff;
  background-color: #F2F0EB;
}

.location-subcontainer{
  display: flex;
  align-items: center;
}

.charts-titles{
  margin-left: 20px;
  font-size: 30px;
  margin-top: 0px;
  padding-top: 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #1E3932;
  margin-bottom: 0px;
}

.locations{
  color:#323232;
  margin-top: 0px;
  margin-left: 20px;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.online{
  font-family: 'Poppins', sans-serif;
  width: 480px;
  color:#323232;
  margin-top: 5px;
  margin-right: 20px;
  text-align: right;
  font-size: 16px;
  margin-bottom: 5px;
}

.visits-per-day{
  margin-top: 0px;
  margin-left: 20px;
  background: #fff;
  width: 470px;
  height: 400px;
  border-radius: 10px;
}

.type-of-device{
  margin-top: 0px;
  margin-left: 20px;
  background: #fff;
  width: 470px;
  height: 400px;
  border-radius: 10px;
}

.sub-containers{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.sub-container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-leads{
  margin-top: 0px;
  margin-left: 20px;
  background: #fff;
  width: 630px;
  height: 100px;
  border-radius: 10px;
}

.location-status{
  margin-top: 20px;
  margin-left: 20px;
  background: #fff;
  width: 630px;
  height: 170px;
  border-radius: 10px;
}

.location-leads{
  margin-top: 20px;
  margin-left: 20px;
  background: #fff;
  width: 630px;
  height:  365px;
  border-radius: 10px;
}

.last-leads{
  margin-top: 20px;
  margin-left: 20px;
  background: #fff;
  width: 970px;
  height: 260px;
  border-radius: 10px;
}

.sub-container3{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-container4{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
